
#event {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1rem auto;
    position: relative;
}

.event-bg {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%; 
    height: 15rem; 
    margin: 3rem 0;
  }

  .event-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--event-img-bg-color); /* Adjust the color and opacity as needed */
}

.eventTitle {
    position: absolute;
    top: 25%;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 600;
}

.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 50%;
}

.timeline-circle {
    display: contents;
    /* flex-wrap: wrap;
    justify-content: center; */
}

.timeline-container {
    width: 70%;
}

.timeline {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.event-ticket {
    display: flex;
    /* */
    width: 80%;
}

.date-timeline ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  
  .date-timeline li.date {
    text-align: left;
    width: 100%;
    transform: translate(20px);
  }
  
  .date-timeline li.month {
    text-align: center;
    position: relative;
    /* margin-left: -2rem; */
    margin-left: 6rem;
  }
  
  .date-timeline li.year {
    text-align: right;
    position: static;
    transform: translate(-50%, -50%);
    /* */
    margin-left: 8rem;
  }

  .event-details {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .date-timeline ul, .event-ticket ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

  .event-details ul {
    list-style-type: none;
    padding: 0;
    margin-top: -1rem;
  }

  .event-details .center .venue {
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 0.2rem;
  }

  .ticket-btn {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .ticket-btn .MuiButton-outlined {
    border: 2px solid var(--outlined-button-border);
    color: var(--outlined-button-textcolor);
    border-radius: 4rem;
    font-size: 0.8rem;
    border-width: 1px;
  }
  
  .date-timeline,
  .ticket-btn {
    flex: 1; 
    padding: 10px; 
    border: none; 
  }
  
  .event-details {
    flex: 2; /* event-details takes up twice as much space as the other two */
    padding: 10px; 
    border:none; 
  }

  
  .timeline::after {
    position: absolute;
    content: '';
    width: 2px;
    background-color: var(--timeline-bg-color);
    top: 0; 
    bottom: 0; 
    margin: auto; 
  }

  .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--timeline-circle-bg-color);
  }

  .date-timeline li.date .circle {
    top: 6%;
    /* left: -15%; */
    left: -21.5%;
  }

  .see-more {
    margin-top: 2rem;
    margin-left: 0rem;
  }

  .see-more .MuiButton-outlined {
    border: 2px solid var(--primary-button-bordercolor);
    color: var(--primary-button-textcolor);
    border-radius: 0;
    font-size: 0.7rem;
  }


@media screen and (max-width:1024px){

    #event {
        margin-top: 3.5rem;
    }

    .event-bg {
        height: 17rem;
        margin-top: 0.5rem;
    }

    .eventTitle {
        font-size: 1.5rem;
        top: 13%;
        text-transform: uppercase;
    }

    .timeline-container {
        width: 80%;
    }

    .timeline {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left: 1.5rem;
        margin-top: 0;
    }

    .ticket-btn {
        padding: 10px;
        border: none;
    }

    .date-timeline,
    .event-tickets {
        
        padding: 10px;
        border: none;
        
    }
    
    .date-timeline li.month {
        text-align: center;
        position: relative;
        margin-left: 30px;
    }

    .date-timeline li.date {
        text-align: left;
        width: 100%;
        transform: translate(0px);
        margin-left: 0;
        padding-left: 20px;
    }

    .date-timeline li.date .circle {
        top: 6%;
        left: -8%;
    }

    .date-timeline li.year {
        text-align: right;
        position: static;
        transform: translate(-50%, -50%);
        padding-right: 30px;
    }

    .event-ticket {
        display: contents;
        width: 100%;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .see-more {
        margin-top: 2rem;
        margin-left: 1rem;
    }

}

@media screen and (max-width:920px){

    #event {
        margin-top: -1rem;
    }

    .event-bg {
        height: 20rem;
    }

    .eventTitle {
        font-size: 2rem;
        text-transform: uppercase;
        top: 20%;
    }

    .timeline-container {
        width: 80%;
    }

    .timeline {
        display: flex;
        justify-content: start;
        width: 100%;
        padding-left: 1.5rem;
        margin-top: 0;
    }

    .ticket-btn {
        padding: 10px;
        border: none;
    }

    .date-timeline,
    .event-tickets {
        
        padding: 10px;
        border: none;
        
    }
    
    .date-timeline li.month {
        text-align: center;
        position: relative;
        margin-left: 30px;
    }

    .date-timeline li.date {
        text-align: left;
        width: 100%;
        transform: translate(0px);
        margin-left: 0;
        padding-left: 20px;
    }

    .date-timeline li.date .circle {
        top: 6%;
        left: -9%;
    }

    .date-timeline li.year {
        text-align: right;
        position: static;
        transform: translate(-50%, -50%);
        padding-right: 30px;
    }

    .see-more {
        margin-top: 2rem;
        margin-left: 3rem;
    }

    .event-ticket {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width:840px){

    #event {
        margin-top: 2rem;
    }

    .event-bg {
        height: 17rem;
        margin-top: 1.8rem;
    }

    .eventTitle {
        font-size: 2rem;
        text-transform: uppercase;
        top: 15%;
    }

    .timeline-container {
        width: 80%;
    }

    .timeline {
        display: flex;
        justify-content: start;
        width: 100%;
        padding-left: 1.5rem;
        margin-top: 0;
    }

    .ticket-btn {
        padding: 10px;
        border: none;
    }

    .date-timeline,
    .event-tickets {
        
        padding: 10px;
        border: none;
        
    }
    
    .date-timeline li.month {
        text-align: center;
        position: relative;
        margin-left: 30px;
    }

    .date-timeline li.date {
        text-align: left;
        width: 100%;
        transform: translate(0px);
        margin-left: 0;
        padding-left: 20px;
    }

    .date-timeline li.date .circle {
        top: 6%;
        left: -9%;
    }

    .date-timeline li.year {
        text-align: right;
        position: static;
        transform: translate(-50%, -50%);
        padding-right: 30px;
    }

    .event-ticket {
        display: flex;
        width: 100%;
        flex-direction: row;
        margin-bottom: 1rem;
    }

    .see-more {
        margin-top: 2rem;
        margin-left: -3rem;
    }
}

@media screen and (max-width:780px){

    #event {
        margin-top: 2rem;
    }

    .event-bg {
        height: 13rem;
    }

    .eventTitle {
        font-size: 1.4rem;
        text-transform: uppercase;
        top: 15%;
    }

    .timeline-container {
        width: 80%;
    }

    .timeline {
        display: flex;
        justify-content: start;
        width: 100%;
        padding-left: 0;
        margin-top: 0;
        /* flex-wrap: wrap; */
    }

    .ticket-btn {
        padding: 10px;
        border: none;
    }

    .date-timeline,
    .event-tickets {
        
        padding: 10px;
        border: none;
        
    }
    
    .date-timeline li.month {
        text-align: center;
        position: relative;
        margin-left: 30px;
    }

    .date-timeline li.date {
        text-align: left;
        width: 100%;
        transform: translate(0px);
        margin-left: 0;
        padding-left: 20px;
    }

    .date-timeline li.date .circle {
        top: 6%;
        left: -9%;
    }

    .date-timeline li.year {
        text-align: right;
        position: static;
        transform: translate(-50%, -50%);
        padding-right: 30px;
    }

    .event-ticket {
        display: flex;
        width: 100%;
        flex-direction: row;
        margin-bottom: 1rem;
    }

    .see-more {
        margin-top: 2rem;
        margin-left: -3rem;
    }

}

@media screen and (max-width:720px){

    #event {
        margin-top: 3rem;
    }

    .event-bg {
        height: 13rem;
    }

    .eventTitle {
        font-size: 1.4rem;
        text-transform: uppercase;
        top: 15%;
    }

    .see-more {
        margin-top: 2rem;
        margin-left: -1rem;
    }

}

@media screen and (max-width:540px){

    #event {
        margin-top: 3rem;
    }

    .event-bg {
        height: 13rem;
    }

    .eventTitle {
        font-size: 1.4rem;
        text-transform: uppercase;
        top: 15%;
    }

    .timeline-container {
        width: 85% ;
    }

    .timeline {
        display: flex;
        justify-content: space-between;
        width: 95%;
        padding-left: 1.5rem;
        margin-top: 0;
    }

    .ticket-btn {
        padding: 10px;
        border: none;
    }

    .date-timeline,
    .event-tickets {
        
        padding: 10px;
        border: none;
        
    }
    
    .date-timeline li.month {
        text-align: center;
        position: relative;
        margin-left: 30px;
    }

    .date-timeline li.date {
        text-align: left;
        width: 100%;
        transform: translate(0px);
        margin-left: 0;
        padding-left: 20px;
    }

    .date-timeline li.date .circle {
        top: 6%;
        left: -8%;
    }

    .date-timeline li.year {
        text-align: right;
        position: static;
        transform: translate(-50%, -50%);
        padding-right: 30px;
    }

    .event-ticket {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .see-more {
        margin-top: 2rem;
        margin-left: 0rem;
    }

}

@media screen and (max-width:420px){

    #event {
        margin-top: 3rem;
    }

    .event-bg {
        height: 10rem;
        margin-top: 0.5rem;
    }

    .eventTitle {
        font-size: 1.2rem;
        top: 11%;
        text-transform: uppercase;
    }

    .timeline-container {
        width: 85% ;
    }

    .timeline {
        display: flex;
        justify-content: space-between;
        width: 90%;
        padding-left: 0;
        margin-top: 0;
    }

    .ticket-btn {
        padding: 10px;
        border: none;
    }

    .date-timeline,
    .event-tickets {
        
        padding: 10px;
        border: none;
        
    }
    
    .date-timeline li.month {
        text-align: center;
        position: relative;
        margin-left: 30px;
    }

    .date-timeline li.date {
        text-align: left;
        width: 100%;
        transform: translate(0px);
        margin-left: 0;
        padding-left: 20px;
    }

    .date-timeline li.date .circle {
        top: 6%;
        left: -8%;
    }

    .date-timeline li.year {
        text-align: right;
        position: static;
        transform: translate(-50%, -50%);
        padding-right: 30px;
    }

    .event-ticket {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-top: 1rem;
    }

    .see-more {
        margin-top: 2rem;
        margin-left: 0rem;
    }

}

/* @media screen and (max-width:375px){
    .event-bg {
        height: 10rem;
        margin-top: 0.5rem;
    }

    .eventTitle {
        font-size: 1.2rem;
        top: 6%;
        text-transform: uppercase;
    }

    .timeline {
        justify-content: space-between;
        width: 100%;
        padding-left: 1.5rem;
    }

    .ticket-btn {
        flex: 1;
        padding: 10px;
        border: none;
    }

    .date-timeline,
    .event-details {
        display: flex;
        padding: 10px;
        border: none;
        flex-direction: column;
        text-align: left;
    }
    
    .date-timeline li.month {
        text-align: center;
        position: relative;
        margin-left: 2rem;
    }

    .date-timeline li.date {
        text-align: left;
        width: 100%;
        transform: translate(0px);
        margin-left: 10px;
    }

    .date-timeline li.date .circle {
        top: 6%;
        left: -22%;
    }

    .date-timeline li.year {
        text-align: right;
        position: static;
        transform: translate(-50%, -50%);
        margin-left: 2rem;
    }

    .event-ticket {
        display: flex;
        width: 80%;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
    
} */

@media screen and (max-width:375px){

    #event {
        margin-top: 3rem;
    }
    .event-bg {
        height: 10rem;
        margin-top: 0.5rem;
    }

    .eventTitle {
        font-size: 1.2rem;
        top: 10%;
    }

    .timeline {
        width: 95%;
        padding-left: 0;
        margin-top: 0;
    }

    .ticket-btn {
        padding: 10px;
        border: none;
    }

    .date-timeline,
    .event-tickets {
        
        padding: 10px;
        border: none;
        font-size: 0.9rem;
        
    }
    
    .date-timeline li.month {
        margin-right: 1rem;
    }

    .date-timeline li.date {
        transform: translate(0px);
        margin-left: 0;
        padding-left: 20px;
    }

    .date-timeline li.date .circle {
        top: 6%;
        left: -8%;
    }

    .date-timeline li.year {
        text-align: left;
        position: relative;
        transform: translate(-60%, -50%);
    }

    .event-ticket {
        width: 100%;
        flex-direction: column;
        font-size: 0.9rem;
        margin-right: 0.3rem;
        margin-bottom: 1rem;
    }

    .ticket-btn .MuiButton-outlined {
        font-size: 0.6rem;
    }

    .see-more {
        margin-top: 2rem;
        margin-left: -1rem;
    }
    
}

@media screen and (max-width:280px){

    #event {
        margin-top: 1.7rem;
    }
    .event-bg {
        height: 8rem;
    }

    .eventTitle {
        font-size: 1.2rem;
        top: 8%;
    }

    .timeline {
        display: grid;
        width: 70%;
        padding-left: 1.5rem;
        margin-top: 0;
    }

    .ticket-btn {
        padding: 10px;
        border: none;
    }

    .date-timeline,
    .event-tickets {
        
        padding: 10px;
        border: none;
        
    }
    
    .date-timeline li.month {
        margin-left: 30px;
    }

    .date-timeline li.date {
        transform: translate(0px);
        margin-left: 0;
        padding-left: 20px;
    }

    .date-timeline li.date .circle {
        top: 6%;
        left: -21%;
    }

    .date-timeline li.year {
        padding-right: 30px;
    }

    .event-ticket {
        width: 100%;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .see-more {
        margin-top: 2rem;
        margin-left: 1rem;
    }
}