*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    /* font-family: 'Poppins', sans-serif; */
    font-family:  system-ui, '-apple-system', "Segoe UI", 'Roboto', "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", 
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    background: rgb(6, 2, 27);
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}