.link-tab {
    text-decoration: none;
    color: inherit;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 10px; 
  }

  .link-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    text-align: center;
  }

  .circle-tab {
    width: 60px; 
    height: 60px; 
    border-radius: 50%;
    background-color: var(--semi_transparent_green); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--light_green);
  }

  .tab-img {
    max-width: 40px; 
    max-height: 50px; 
    border-radius: 50%;
    margin: 0 auto; 
    opacity: 70%;
  }

  .label {
    margin-top: 10px; 
    font-weight: bold;
    font-size: 13px; 
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-family: var(--custom-font-fam6);
  }

  @media screen and (max-width:540px) {
    .circle-tab {
      width: 50px;
      height: 50px;
    }
  }