.singletab-img {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.MuiTabs-flexContainer {
    justify-content: space-evenly !important;
}

@media screen and (max-width:540px) {
    .singletab-img .MuiImageList-root {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .MuiTabs-flexContainer {
        justify-content: space-between !important;
    }
}
