@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&family=Inter:wght@300&family=Manuale:wght@500&family=Marcellus&family=Open+Sans&family=Poppins:ital,wght@0,100;0,400;1,100&display=swap');

:root {
    --white: rgb(255, 255, 255);
    --gray: rgb(247 246 246);
    --gray_shade1: #919191;
    --black: #000000;
    --transparent_black: #00000091;
    --semi_transparent_green:rgb(87 116 84 / 19%);
    --dark_green: #415040;
    --light_green: #577454;
    --linear_shade_green : linear-gradient(0deg, rgb(180 229 176 / 15%) , rgb(57 144 49 / 32%));
    --transparent_green : rgb(75 109 81 / 16%);
    --transparent: #a9b7b700;
    --white_shade_green: #b6c5b1;

    --custom-font-fam1: 'Inria-Serif', sans-serif;
    --custom-font-fam2: 'Manuale', serif;
    --custom-font-fam3: 'Poppins', sans-serif;
    --custom-font-fam4: 'Inter', sans-serif;
    --custom-font-fam5: 'Marcellus', serif;
    --custom-font-fam6: 'Open Sans', sans-serif;
}