#about {
    overflow: hidden;
    width: 77%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 3rem auto;
    position: relative;
}

.heading{
    text-transform: uppercase;
    font-family: var(--custom-font-fam2);
    font-size: 21px;
    color: var(--light_green);
    font-weight: 500;
}

.aboutContent {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: 3rem auto
}

.backgroundImage {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    z-index: 1;
}

.textContent {
   width: 60%;
   text-align: center;
   z-index: 1;
}

.textHeading {
    text-transform: uppercase;
    font-family: var(--custom-font-fam2);
    font-size: 21px;
    color: var(--light_green);
    font-weight: 500;
    letter-spacing: 1.5px;
}

.textSubHeading {
    font-family: var(--custom-font-fam2);
    font-size: 20px;
    color: var(--transparent_black);
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.3rem;
    letter-spacing: 0.4px;
}

.textpara {
    width: 85%;
    padding: 0rem 6rem;
    font-family: var(--custom-font-fam2);
    font-size: 14px;
    letter-spacing: 0.03rem;
    line-height: 1.7rem;
    text-align: justify;
    margin: 5rem 0rem 2rem;
}

.textsq {
    background: var(--linear_shade_green);
    height: 100%;
    position: absolute;
    width: 100%;
    text-align: center;
    display: none;
}

.titleContent {
    position: relative; 
    width: 70%;
    z-index: 1;
    margin-block-start: 2%;
}

@media screen and (max-width:1280px) {
    #about {
        width: 80%;
        margin: 1rem auto;
    }

    .aboutContent {
        width: 88%;
        margin: 0;
    }

    .textContent {
        width: 100%;
    }

    .textpara {
        width: 80%;
        padding: 5%;
        margin: 2rem 1rem 2rem;
    }

    .titleContent {
        width: 100%;
        margin-block-start: 0%;
    }

    /* .textHeading {
        font-size: 20px;
    } */

}

@media screen and (max-width:1024px) {
    #about {
        width: 96%;
        margin: 1rem auto;
    }

    .aboutContent {
        margin: 0 auto;
    }

    .textContent {
        width: 100%;
    }

    .textpara {
        width: 80%;
        padding: 5%;
        margin: 2rem 1rem 2rem;
    }

    .titleContent {
        width: 100%;
        margin-block-start: 0%;
    }

    /* .textHeading {
        font-size: 20px;
    } */

}

@media screen and (max-width:912px) {
    #about {
        width: 94%;
        margin: 1rem auto;
    }

    .aboutContent {
        margin: 0 auto;
        flex-direction: column-reverse;
    }

    .textContent {
        width: 100%;
    }

    .textpara {
        width: 80%;
        padding: 5%;
        margin: 2rem 1rem 2rem;
    }

    .titleContent {
        width: 100%;
    }

    .textHeading {
        font-size: 20px;
    }

}

@media screen and (max-width:768px) {
    #about {
        width: 91%;
        margin: 1rem auto;
        padding: 15px;
    }

    .aboutContent {
        margin: 0 auto;
        flex-direction: column-reverse;
    }

    .textContent {
        width: 100%;
    }

    .textpara {
        width: 80%;
        padding: 5%;
        margin: 2rem 1rem 2rem;
    }

    .titleContent {
        width: 100%;
    }

    .textHeading {
        font-size: 20px;
    }

}

@media screen and (max-width:480px) {
    #about {
        width: 80%;
        margin: 1rem auto;
    }

    .aboutContent {
        margin: 0 auto;
        flex-direction: column-reverse;
        width: 100%;
    }

    .backgroundImage {
        width: 65rem;
        height: 100%;
    }

    .textContent {
        width: 100%;
    }

    .textpara {
        width: 80%;
        padding: 5%;
        margin: 2rem 1rem 2rem;
    }

    .titleContent {
        width: 100%;
    }

    .textHeading {
        font-size: 20px;
    }

    .textSubHeading {
        font-size: 18px;
    }
}

@media screen and (max-width:280px) {

    .textHeading {
        font-size: 16px;
    }

    .textSubHeading {
        font-size: 13px;
    }
}
