#service {
    margin-top: 2%;
}

.service-heading{
    text-transform: uppercase;
    font-family: var(--custom-font-fam2);
    font-size: 21px;
    color: var(--light_green);
    font-weight: 500;
}

.css-heg063-MuiTabs-flexContainer{
    justify-content: space-evenly;
}

@media screen and (max-width:780px) {
    #service {
        margin-top: 5%;
    }
}


@media screen and (max-width:480px) {
    #service {
        margin: 20px;
    }
}


