.navbar {
  background: var(--gray);
  width: 100%;
  height: 10%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 3;
}

.title {
  font-family: 'Nanum Myeongjo', serif;
}

.nav-content {
  display: contents;
  flex: 1;
}

.logo-container {
  margin-left: 2rem;
}


.logo {
  object-fit: fill;
  width: 6.5rem;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 5px;
  margin-top: 1rem;
}

.menu-toggle .bar {
  background-color: var(--black);
  height: 2px;
  width: 21px;
  margin: 3px 0;
  transition: 0.4s;
}

.desktopMenu {
  flex-grow: 1;
  display: inline-block;
}

.desktopMenuListItem {
  margin: 2rem;
  cursor: pointer;
  font-size: 1rem;
  font-family: var(--custom-font-fam5);
  color: var(--black);
}

.desktopMenuListItem:hover {
  color: var(--dark_green);
  transition: all 0.3s ease 0s;
  /* padding: 0.5rem;
  border: 1px solid rgb(223, 228, 225);
  border-radius: 1rem; */
}

.contactbtn {
  background: var(--semi_transparent_green);
  color: var(--dark_green);
  border: 1px solid var(--light_green);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.9rem;
  border-radius: 1rem;
  margin-right: 2rem;
}

.contactbtn:hover {
  transition: all 0.3s ease 0s;
}

.contact-text {
  font-family: var(--custom-font-fam5);
  font-size: 15px;
}

@media screen and (max-width:1024px) {
  .desktopMenu {
    display: inline;
  }

  .desktopMenuListItem {
    margin: 1rem;
  }

  .logo-container {
    margin-left: 1rem;
  }
}

@media screen and (max-width:820px) {

  .contactbtn {
    display: none;
  }

  .desktopMenu {
    display: none;
  }

  .desktopMenu.open {
    display: flex;
    flex-direction: column;
    top: 7rem;
    right: 5rem;
    background: var(--white_shade_green);
    min-width: 17rem;
    border-radius: 1rem;
    position: absolute;
  }

  .menu-toggle {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin: 2.5rem;
    margin-right: 3rem;
  }

  .desktopMenuListItem {
    font-size: 1rem;
  }

}

@media screen and (max-width:780px) {

  .contactbtn {
    display: none;
  }

  .desktopMenu {
    display: none;
  }

  .desktopMenu.open {
    display: flex;
    flex-direction: column;
    top: 7rem;
    right: 5rem;
    background: var(--white_shade_green);
    min-width: 17rem;
    border-radius: 1rem;
    position: absolute;
  }

  .menu-toggle {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin: 2.5rem;
    margin-right: 3rem;
  }

  .desktopMenuListItem {
    font-size: 1rem;
  }

}

@media screen and (max-width:540px) {
  .desktopMenu {
    display: none;
    position: absolute;
  }

  .menu-toggle {
    display: flex;
    margin-right: 2rem;
    margin-top: 2rem;
  }

  .desktopMenu.open {
    display: flex;
    flex-direction: column;
    top: 5.8rem;
    right: 3rem;
    background: var(--white_shade_green);
    min-width: 13rem;
    border-radius: 1rem;
  }

  .desktopMenuListItem {
    margin: 1rem 0;
    text-align: center;
    color: black;
  }

  .contactbtn {
    display: none;
  }

  .logo-container {
    margin-left: 1rem;
  }
}

@media screen and (max-width:440px) {
  .desktopMenu {
    display: none;
    position: absolute;
  }

  .menu-toggle {
    display: flex;
    margin-right: 2rem;
    margin-top: 2rem;
  }

  .desktopMenu.open {
    display: flex;
    flex-direction: column;
    top: 6.5rem;
    right: 3rem;
    background: var(--white_shade_green);
    min-width: 13rem;
    border-radius: 1rem;
  }

  .desktopMenuListItem {
    margin: 1rem 0;
    text-align: center;
    color: black;
  }

  .contactbtn {
    display: none;
  }

  .logo-container {
    margin-left: 1rem;
  }
}

@media screen and (max-width:375px) {
  .desktopMenu {
    display: none;
    position: absolute;
  }

  .menu-toggle {
    display: flex;
    margin-right: 15%;
    margin-top: 1.5rem;
  }

  .desktopMenu.open {
    display: flex;
    flex-direction: column;
    top: 5.5rem;
    right: 3rem;
    background: var(--white_shade_green);
    min-width: 13rem;
    border-radius: 1rem;
  }

  .desktopMenuListItem {
    margin: 1rem 0;
    text-align: center;
    color: black;
  }

  .contactbtn {
    display: none;
  }

  .logo-container {
    margin-left: 1rem;
  }
}

@media screen and (max-width:280px) {
  .desktopMenu {
    display: none;
    position: absolute;
  }

  .menu-toggle {
    display: flex;
    margin-right: 2rem;
    margin-top: 1.5rem;
  }

  .desktopMenu.open {
    display: flex;
    flex-direction: column;
    top: 5.5rem;
    right: 3rem;
    background: var(--white_shade_green);
    min-width: 13rem;
    border-radius: 1rem;
  }

  .desktopMenuListItem {
    margin: 1rem 0;
    text-align: center;
    color: black;
  }

}